p {
    margin: 0;
}

h1 {
    font-size: 36px;
    margin: 0 0 60px 0;
}

.section {
    padding: 110px 0 105px;
}

.title_block {
    text-align: center;
}

p {
    font-size: 14px;
    color: #86878b;
    margin: 10px;
}

.chocalate_bar_block {
    display: flex;
}